body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.25rem;
  background-color: #f4f6f8;
}

header {
  text-align: center;
}

section {
  margin-block: 20px;
  border: 2px dashed #ccc;
}

li {
  margin-block: 2px;
}

h1 {
  font-family: cursive;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1a73e8;
  text-align: center;
}

h2 {
  color: #cb731c;
}

h3 {
  color: red;
}

footer {
  padding: 5px;
  text-align: center;
  background-color: #22466c;
  color: #ffffff;
  font-weight: bold;
}
